.appearance_page_greenlet #wpcontent {padding: 0;}
.appearance_page_greenlet .update-nag {margin: 0;display: block;}
#greenlet, #greenlet *, #greenlet *::before, #greenlet *::after {box-sizing: border-box;}
#greenlet {margin: 0;}
#greenlet .title {padding: 20px;background: #7cb342;color: #fff;font-size: 18px;font-weight: 100;text-align: center;}
#greenlet-options {padding-top: 20px;font-size: 14px;}
.container {position: relative;margin: 0 auto;padding: 0 20px;}
.container:after, .row:after, .clearfix {content: "";display: table;clear: both;}
.row {margin-right: -15px;margin-left: -15px;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {margin: 0;width: 100%;float: left;padding: 0 15px;}
@media (min-width: 801px) {.col-1 {width: 8.33333333333%;}
	.col-2 {width: 16.6666666667%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.3333333333%;}
	.col-5 {width: 41.6666666667%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.3333333333%;}
	.col-8 {width: 66.6666666667%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.3333333333%;}
	.col-11 {width: 91.6666666667%;}
	.col-12 {width: 100%;}}
#greenlet-options a {text-decoration: none;}
#greenlet-options .heading {font-size: 16px;padding: 10px 15px;border-bottom: 1px solid #ddd;}
#greenlet-options .link {padding: 10px 15px;border-bottom: 1px solid #eee;}
#greenlet-options .content-wrap {padding: 15px 15px 30px;position: relative;overflow: hidden;}
#greenlet-options .btn-wrap {padding-top: 15px;}
#greenlet-options .explain {color: #999;font-size: 12px;padding-top: 10px;float: left;}
#greenlet-options .action-btn {float: right;}
#greenlet-options .message {position: absolute;bottom: 0;width: 100%;max-height: 0;background: #666;color: #fff;padding: 2px;font-size: 12px;text-align: center;visibility: hidden;opacity: 0;transition: all .5s;}
#greenlet-options .message.show {visibility: visible;opacity: 1;max-height: 50px;}
#greenlet-options .message.success {background: #7cb342;}
#greenlet-options .message.warning {background: #fff59d;color: #827717;}
#greenlet-options .message.error {background: #cb000b;}
#greenlet-options .settings, #greenlet-options .backend, #greenlet-options .impex {background: #fff;border: 1px solid #ccc;box-shadow: 0 1px 1px rgba(0,0,0,.05);margin-bottom: 20px;}
#greenlet-options .setting-description {font-size: 13px;padding-top: 5px;}
#greenlet-options .impex .sub-heading {margin-bottom: 10px;}
#greenlet-options .impex textarea {width: 100%;color: #666;background: #f9f9f9;display: block;}
.ext-links {margin-bottom: 10px;}
.ext-links .link-wrap a {padding: 10px 0;display: block;}